# Absolute paths to language runtimes/compilers.
# Copy this file to .env and customize the paths for your local machine.

RUNNER_PYTHON3_PATH=
RUNNER_NODE_PATH=
RUNNER_GO_PATH=
RUNNER_KOTLINC_PATH=
RUNNER_JAVA_PATH=
