# Environment configurations
.env

# Python virtual environment
.venv/
env/
venv/
ENV/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# System / IDE files
.DS_Store
.vscode/
.idea/

# Python packaging build artifacts
build/
dist/
*.egg-info/

